@font-face {
  font-family: 'YdestreetB';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/YdestreetB.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-size: 1vw;
  font-family: "YdestreetB", sans-serif;
  color: #333;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

button, input[type="button"], input[type="submit"] {
  cursor: pointer;
}

*::-webkit-scrollbar {
  display: none;
}

blockquote, q {
  quotes: none;
}

a, button {
  cursor: pointer;
}

p, span {
  cursor: default;
}

p {
  word-break: keep-all;
}

table, thead, tbody, th, td {
  border-collapse: collapse;
  border-spacing: 0;
  cursor: default;
}

.loginPage {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.loginPage .loginArea {
  position: absolute;
  top: 50%;
  right: none;
  left: 50%;
  bottom: none;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  color: white;
  font-size: 3rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #111;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-box-shadow: 0.1rem 0.1rem 0.9rem 0.2rem #333;
          box-shadow: 0.1rem 0.1rem 0.9rem 0.2rem #333;
}

.loginPage .loginArea .hiddenBox1 {
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #111;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.loginPage .loginArea .loginForm {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: white;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-box-shadow: 0.1rem 0 0.7rem 0.1rem #858585, -0.1rem 0 0.7rem 0.1rem #7a7a7a;
          box-shadow: 0.1rem 0 0.7rem 0.1rem #858585, -0.1rem 0 0.7rem 0.1rem #7a7a7a;
  opacity: 0;
}

.loginPage .loginArea .loginForm .loginTitle {
  color: white;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  height: 15%;
}

.loginPage .loginArea .loginForm .inputArea {
  height: 60%;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loginPage .loginArea .loginForm .inputArea .inputIdLabel, .loginPage .loginArea .loginForm .inputArea .inputPassLabel {
  display: inline-block;
  color: white;
  font-size: 2rem;
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10%;
}

.loginPage .loginArea .loginForm .inputArea #loginInputId, .loginPage .loginArea .loginForm .inputArea #loginInputPass {
  width: 80%;
  height: 15%;
  background-color: white;
  border-radius: 1rem;
  margin-bottom: 2rem;
  padding-left: 1rem;
  font-size: 2rem;
}

.loginPage .loginArea .loginForm .inputArea #loginInputId:focus, .loginPage .loginArea .loginForm .inputArea #loginInputPass:focus {
  -webkit-box-shadow: inset 0 0 0.3rem 0.2rem gray;
          box-shadow: inset 0 0 0.3rem 0.2rem gray;
}

.loginPage .loginArea .loginForm .inputArea .loginSubmit {
  width: 30%;
  height: 10%;
  background-color: white;
  margin-top: 2rem;
  border-radius: 5rem;
  color: #7a7a7a;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.loginPage .loginArea .loginForm .inputArea .loginSubmit:hover {
  color: black;
  font-size: 1.5rem;
}

.loginPage .loginArea .loginForm .buttonArea {
  width: 100%;
  height: 20%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loginPage .loginArea .loginForm .buttonArea .joinButton, .loginPage .loginArea .loginForm .buttonArea .findButton {
  width: 25%;
  height: 20%;
  color: #424242;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}

.loginPage .loginArea .loginForm .buttonArea .joinButton:hover, .loginPage .loginArea .loginForm .buttonArea .findButton:hover {
  -webkit-transform: scale(140%);
          transform: scale(140%);
  color: #111;
}
