@font-face {
  font-family: 'YdestreetB';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/YdestreetB.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-size: 1vw;
  font-family: "YdestreetB", sans-serif;
  color: #333;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

button, input[type="button"], input[type="submit"] {
  cursor: pointer;
}

*::-webkit-scrollbar {
  display: none;
}

blockquote, q {
  quotes: none;
}

a, button {
  cursor: pointer;
}

p, span {
  cursor: default;
}

p {
  word-break: keep-all;
}

table, thead, tbody, th, td {
  border-collapse: collapse;
  border-spacing: 0;
  cursor: default;
}

.loginFailMessage {
  width: 30%;
  height: 25%;
  border-radius: 10vh;
  background-color: white;
  border: 0.2rem solid #111;
  position: absolute;
  top: 50%;
  right: none;
  left: 50%;
  bottom: none;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1000;
  -webkit-box-shadow: 0rem 0rem 0.2rem 0.1rem white;
          box-shadow: 0rem 0rem 0.2rem 0.1rem white;
  pointer-events: none;
}

.loginFailMessage p {
  color: #111;
  font-size: 1.2rem;
  pointer-events: none;
}

.findFailMessage {
  width: 30%;
  height: 25%;
  border-radius: 10vh;
  background-color: white;
  border: 0.2rem solid #111;
  position: absolute;
  top: 50%;
  right: none;
  left: 50%;
  bottom: none;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1000;
  -webkit-box-shadow: 0rem 0rem 0.2rem 0.1rem white;
          box-shadow: 0rem 0rem 0.2rem 0.1rem white;
}

.findFailMessage p {
  color: #111;
  font-size: 1.2rem;
  pointer-events: none;
  margin: 2rem;
}

.findFailMessage div {
  color: gray;
  width: 100%;
  height: 10%;
  margin: 1rem;
  text-align: center;
  font-size: 1.2rem;
  cursor: pointer;
}

.findFailMessage div:hover {
  -webkit-transform: scale(140%);
          transform: scale(140%);
  color: #111;
}

.joinArea {
  width: 100vw;
  height: 100vh;
  background-color: #111;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  position: absolute;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.joinArea .joinMessage {
  width: 30%;
  height: 15%;
  border-radius: 5vh;
  background-color: white;
  border: 0.2rem solid #111;
  position: absolute;
  top: 50%;
  right: none;
  left: 50%;
  bottom: none;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1000;
  -webkit-box-shadow: 0rem 0rem 0.2rem 0.1rem white;
          box-shadow: 0rem 0rem 0.2rem 0.1rem white;
  pointer-events: none;
}

.joinArea .joinMessage p {
  color: #111;
  font-size: 1.7rem;
  pointer-events: none;
}

.joinArea .usedIdMessage {
  width: 30%;
  height: 15%;
  border-radius: 5vh;
  background-color: white;
  border: 0.2rem solid #111;
  position: absolute;
  top: 50%;
  right: none;
  left: 50%;
  bottom: none;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1000;
  -webkit-box-shadow: 0rem 0rem 0.2rem 0.1rem white;
          box-shadow: 0rem 0rem 0.2rem 0.1rem white;
  pointer-events: none;
}

.joinArea .usedIdMessage p {
  color: #111;
  font-size: 1.7rem;
  pointer-events: none;
}

.joinArea .joinForm {
  width: 40%;
  height: 80%;
  border: 0.2rem solid #fff;
  -webkit-box-shadow: 0 0 0.3rem 0.2rem #333;
          box-shadow: 0 0 0.3rem 0.2rem #333;
  border-radius: 5vh;
  position: absolute;
  top: 50%;
  right: none;
  left: 50%;
  bottom: none;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.joinArea .joinForm h1 {
  color: #111;
  font-size: 2rem;
  padding: 1rem;
}

.joinArea .joinForm .joinBox {
  width: 80%;
  height: 20%;
}

.joinArea .joinForm .joinBox label {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  text-align: left;
}

.joinArea .joinForm .joinBox input {
  width: 100%;
  height: 40%;
  border: 0.2rem solid #111;
  border-radius: 2vh;
  text-align: center;
  font-size: 1.5rem;
}

.joinArea .joinForm .joinButton, .joinArea .joinForm .loginPage .loginArea .loginForm .buttonArea .findButton, .loginPage .loginArea .loginForm .buttonArea .joinArea .joinForm .findButton {
  width: 30%;
  height: 10%;
  color: gray;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-bottom: 1rem;
}

.joinArea .joinForm .joinButton:hover, .joinArea .joinForm .loginPage .loginArea .loginForm .buttonArea .findButton:hover, .loginPage .loginArea .loginForm .buttonArea .joinArea .joinForm .findButton:hover {
  color: #111;
  -webkit-transform: scale(150%);
          transform: scale(150%);
}

.joinArea .backIcon {
  background-image: url("./back.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 4rem;
  height: 4rem;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  color: white;
  position: absolute;
  top: 5%;
  right: none;
  left: 5%;
  bottom: none;
  -webkit-transform: none;
          transform: none;
  cursor: pointer;
}

.loginPage {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.loginPage .loginArea {
  position: absolute;
  top: 50%;
  right: none;
  left: 50%;
  bottom: none;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  color: white;
  font-size: 3rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #111;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-box-shadow: 0.1rem 0.1rem 0.9rem 0.2rem #333;
          box-shadow: 0.1rem 0.1rem 0.9rem 0.2rem #333;
}

.loginPage .loginArea .hiddenBox1 {
  position: absolute;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #111;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.loginPage .loginArea .loginForm {
  position: absolute;
  width: 0%;
  height: 100%;
  background-color: white;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  -webkit-box-shadow: 0.1rem 0 0.7rem 0.1rem #858585, -0.1rem 0 0.7rem 0.1rem #7a7a7a;
          box-shadow: 0.1rem 0 0.7rem 0.1rem #858585, -0.1rem 0 0.7rem 0.1rem #7a7a7a;
  opacity: 0;
}

.loginPage .loginArea .loginForm .loginTitle {
  color: white;
  font-size: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: center;
  height: 15%;
}

.loginPage .loginArea .loginForm .inputArea {
  height: 60%;
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loginPage .loginArea .loginForm .inputArea .inputIdLabel, .loginPage .loginArea .loginForm .inputArea .inputPassLabel {
  display: inline-block;
  color: white;
  font-size: 2rem;
  width: 100%;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10%;
}

.loginPage .loginArea .loginForm .inputArea .inputIdLabel h6, .loginPage .loginArea .loginForm .inputArea .inputPassLabel h6 {
  font-size: 0.8rem;
  color: lightgray;
}

.loginPage .loginArea .loginForm .inputArea #loginInputId, .loginPage .loginArea .loginForm .inputArea #loginInputPass {
  width: 80%;
  height: 15%;
  background-color: white;
  border-radius: 1rem;
  margin-bottom: 2rem;
  padding-left: 1rem;
  font-size: 2rem;
}

.loginPage .loginArea .loginForm .inputArea #loginInputId:focus, .loginPage .loginArea .loginForm .inputArea #loginInputPass:focus {
  -webkit-box-shadow: inset 0 0 0.3rem 0.2rem gray;
          box-shadow: inset 0 0 0.3rem 0.2rem gray;
}

.loginPage .loginArea .loginForm .inputArea .loginSubmit {
  width: 30%;
  height: 10%;
  background-color: white;
  margin-top: 2rem;
  border-radius: 5rem;
  color: #7a7a7a;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.loginPage .loginArea .loginForm .inputArea .loginSubmit:hover {
  color: black;
  font-size: 1.5rem;
}

.loginPage .loginArea .loginForm .buttonArea {
  width: 100%;
  height: 20%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loginPage .loginArea .loginForm .buttonArea .joinButton, .loginPage .loginArea .loginForm .buttonArea .findButton {
  width: 25%;
  height: 20%;
  color: #424242;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  cursor: pointer;
}

.loginPage .loginArea .loginForm .buttonArea .joinButton:hover, .loginPage .loginArea .loginForm .buttonArea .findButton:hover {
  -webkit-transform: scale(140%);
          transform: scale(140%);
  color: #111;
}

.findArea {
  width: 100vw;
  height: 100vh;
  background-color: #111;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.findArea .findBackIcon {
  background-image: url("./back.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 4rem;
  height: 4rem;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  color: white;
  position: absolute;
  top: 5%;
  right: 5%;
  left: none;
  bottom: none;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  cursor: pointer;
}

.findArea .findCont {
  position: absolute;
  top: 50%;
  right: none;
  left: 50%;
  bottom: none;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 40%;
  height: 50%;
  background-color: white;
  border-radius: 2vh;
  overflow: hidden;
}

.findArea .findCont .findTabMenu {
  width: 100%;
  height: 15%;
  background-color: #bdbdbd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.findArea .findCont .findTabMenu .tabMenu {
  width: 20%;
  height: 100%;
  background-color: #bdbdbd;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.findArea .findCont .findTabMenu .selectFindTab {
  background-color: white;
  color: #111;
}

.findArea .findCont .findIdForm {
  width: 100%;
  height: 85%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.findArea .findCont .findIdForm .findBox {
  margin: auto;
  width: 80%;
  height: 30%;
}

.findArea .findCont .findIdForm .findBox label {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  text-align: left;
}

.findArea .findCont .findIdForm .findBox input {
  width: 100%;
  height: 40%;
  border: 0.2rem solid #111;
  border-radius: 2vh;
  text-align: center;
  font-size: 1.5rem;
}

.findArea .findCont .findIdForm .findBox:first-child {
  margin-top: 2rem;
}

.findArea .findCont .findIdForm .findIdSubmit {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-align: center;
  font-size: 1.4rem;
  height: 30%;
  width: 100%;
  color: gray;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.findArea .findCont .findIdForm .findIdSubmit:hover {
  color: #111;
  -webkit-transform: scale(130%);
          transform: scale(130%);
}

.findArea .findCont .findPassForm {
  width: 100%;
  height: 85%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.findArea .findCont .findPassForm .findBox {
  margin: auto;
  width: 80%;
  height: 30%;
}

.findArea .findCont .findPassForm .findBox label {
  display: block;
  font-size: 1.5rem;
  margin-bottom: 0.7rem;
  margin-left: 1rem;
  text-align: left;
}

.findArea .findCont .findPassForm .findBox input {
  width: 100%;
  height: 40%;
  border: 0.2rem solid #111;
  border-radius: 2vh;
  text-align: center;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.findArea .findCont .findPassForm .findBox:first-child {
  margin-top: 1rem;
}

.findArea .findCont .findPassForm .findPassSubmit {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  text-align: center;
  font-size: 1.4rem;
  height: 30%;
  width: 100%;
  color: gray;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.findArea .findCont .findPassForm .findPassSubmit:hover {
  color: #111;
  -webkit-transform: scale(130%);
          transform: scale(130%);
}
