@charset "utf-8";
@import "reset";
@font-face {
  font-family: 'Unreal_science_orbit';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Unreal_science_orbit.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'yleeMortalHeartImmortalMemory';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/yleeMortalHeartImmortalMemory.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

.mainPage{
  width: 100vw;
  height: 100vh;
  .introArea{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    @include flexSetting(row, center, center);
    .stick{
      transition: all 1.2s ease;
      width: (100% / 6);
      height: 150vh;
      background-color: #111;
      border-radius: 50vh;
      @include flexSetting(row, center, center);
      color: white;
      font-size: 2rem;
    }
  }
  .mainArea{
    width: 100%;
    height: 100%;
    .headerArea{
      width: 100%;
      height: 12%;
      @include flexSetting(row, center, center);
      position: relative;
      h1{
        font-size: 2rem;
        color: #111;
      }
      .userDataArea{
        transition: all 0.6s ease;
        width: 30%;
        height: 100%;
        @include positionSetting(absolute, 0, -100%, none, none, none);
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .userNameText{
          font-size: 1.2rem;
        }
        .logoutButton{
          font-size: 1.4rem;
          width: 11rem;
          height: 2rem;
          margin-left: 3rem;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 2vh;
          color: #111;
          background-color: white;
          border: 0.1rem solid #111;
          transition: all 0.3s ease;
          cursor: pointer;
          &:hover{
            color: white;
            box-shadow: inset 0 0 0 10rem #111;
          }
        }
      }
    }
    .mainContent{
      width: 100%;
      height: 44%;
      @include flexSetting(column, center, flex-start);
      .myNameText{
        width: 100%;
        height: 60%;
        flex: 3;
        @include flexSetting(row, center, center);
        h1{
          display: inline;
          font-family: 'yleeMortalHeartImmortalMemory';
          font-size: 8rem;
          color: #111;
          letter-spacing: 1.2rem;
          margin-right: 2rem;
        }
        h2{
          display: inline;
          font-family: 'yleeMortalHeartImmortalMemory';
          font-size: 8rem;
          color: #111; 
          letter-spacing: 1.2rem;
          font-weight: bold;
          sub{
            font-size: 1rem;
            color: #111;
            margin-left: 0.5rem;
            letter-spacing: normal;
            padding: 0.2rem;
            border-bottom: 0.1rem solid lightgray;
          }
        }
      }
      .menuArea{
        transition: all 0.6s ease;
        width: 100%;
        height: 40%;
        position: relative;
        @include flexSetting(row, space-around, center);
        overflow: hidden;
        .menuBackText{
          @include positionSetting(absolute, 50%, none, none, 50%, translate(-50%, -50%));
          font-size: 3.4rem;
          letter-spacing: 2.2rem;
          opacity: 0;
          color: gray;
          pointer-events: none;
        }
        .menuText{
          transition: all 0.6s ease;
          flex: 1;
          color: #111;
          font-size: 1.1rem;
          cursor: pointer;
        }
      }
    }
    $duration:10s;
    $ease:ease-in-out;
    .footerArea{
      overflow:hidden; 
      width: 100%;
      height: 44%;
      .holder{
        pointer-events: none;
        width:400px;
        height: 400px;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        .circle{
          pointer-events: none;
          border-radius:100% 100% 0 0;
          position: absolute;
          bottom: 0;
          left:50%;
          transform:translateX(-50%);
          transform-origin:bottom center;
        }
        @for $i from 1 through 16{
          .circle:nth-child(#{$i}){
            $size:0;
            @if($i > 1){
              $size:17px * ($i - 1);
              border:13px solid #111;
            }@else{
              $size:19px;
              background:#111;
            }
            border-bottom:none;
            border-radius:$size $size 0 0;
            width:$size;
            height:$size / 2;
            z-index: 16 - $i;
            animation: circle-#{$i} $duration infinite $ease;
          }
          @keyframes circle-#{$i}{
            0%{transform:translateX(-50%) rotate(0deg);}
            100%{transform:translateX(-50%) rotate(-($i * 360deg));}
          }
        }
      }
    }
  }
}